html,
body {
  // overflow-y: auto !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
//   background: #030014;
}

.container {
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 960px) {
    max-width: calc(1200px + 4rem);
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @media (min-width: 1920px) {
    max-width: calc(1400px + 6rem);
    padding-left: 3rem;
    padding-right: 3rem;
  }
  @media (min-width: 2480px) {
    max-width: calc(1600px + 8rem);
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.a-nostyle {
  color: inherit;
  text-decoration: inherit;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

.hide-scrollbar {
  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /* IE 10+ */
}


.center {
  display: grid;
  place-content: center;
}

.notyf{
  .notyf__message{
    font-size: 16px;
  }
}